force-app/main/default/flows/Check_Service_Plan_Eligibility.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets meetsEligibility to false and ineligibilityReason to defaultIneligibilityReasonTextTemplate if the case doesn’t meet the required eligibility criteria for a service plan.</description>
        <name>SetMeetsEligibilityToFalse</name>
        <label>Set MeetsEligibility to False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>meetsEligibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ineligibilityReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultIneligibilityReasonTextTemplate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets meetsEligibility to true if the case meets the required eligibility criteria for a service plan.</description>
        <name>SetMeetsEligibilityToTrue</name>
        <label>Set MeetsEligibility to True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>meetsEligibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Determines whether a case was returned from GetCase and whether it meets the eligibility criteria to generate a service plan.</description>
        <name>IsCaseEligible</name>
        <label>Is Case Eligible for Service Plan?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SetMeetsEligibilityToFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>EligibleForServicePlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ineligibilityReason</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCase.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetMeetsEligibilityToTrue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Check Service Plan Eligibility {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Service Plan Eligibility</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the case record with an ID that matches the ID in the caseId variable that was passed into the flow.</description>
        <name>GetCase</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCaseEligible</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetMeetsEligibilityToFalse</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <sourceTemplate>setup_service_plan__CheckEligibility</sourceTemplate>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <description>Stores the default reason why the case is ineligible for a service plan when no specific reason is specified.</description>
        <name>DefaultIneligibilityReasonTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>To create service plans, try a different case or ask your Salesforce admin to update the eligibility criteria.</text>
    </textTemplates>
    <variables>
        <description>Stores the ID of the case that was passed into the flow to check if it meets the eligibility criteria for a service plan.</description>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the reason why the case is ineligible for a service plan.</description>
        <name>ineligibilityReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the outcome of IsCaseEligible as true if the case meets the required service plan eligibility; otherwise, it stores false.</description>
        <name>meetsEligibility</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
