force-app/main/default/flows/SDO_Service_ServicePlannerSimulator_CreatePlan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Increment_Order_Counter</name>
        <label>Increment Order Counter</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>orderCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Additional_Step</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Another_Step</name>
        <label>Add Another Step?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Service_Plan_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More Steps</defaultConnectorLabel>
        <rules>
            <name>Add_Step</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customFooter.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Another Step</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Order_Counter</targetReference>
            </connector>
            <label>Add Step</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_More_Steps</name>
        <label>Create More Steps?</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Service_Plan_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No More Steps</defaultConnectorLabel>
        <rules>
            <name>More_Steps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>customFooterStart.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Another Step</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Additional_Step</targetReference>
            </connector>
            <label>More Steps</label>
        </rules>
    </decisions>
    <description>Used on the Service Planner Configuration flexipage to easily create the plan details for simulated demo component.</description>
    <dynamicChoiceSets>
        <name>stepCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>SDO_Service_Planner_Steps__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Service Planner Simulator - Create Plan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Planner Simulator - Create Plan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_First_Step</name>
        <label>Add First Step</label>
        <locationX>336</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Create_More_Steps</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Step_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Planner_Configuration__c</field>
            <value>
                <elementReference>Get_Service_Plan_Configuration.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step__c</field>
            <value>
                <elementReference>Step_Instructions</elementReference>
            </value>
        </inputAssignments>
        <object>SDO_Service_Planner_Steps__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_New_Step</name>
        <label>Add New Step</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Add_Another_Step</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Step_Category2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>orderCounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Planner_Configuration__c</field>
            <value>
                <elementReference>Get_Service_Plan_Configuration.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Step__c</field>
            <value>
                <elementReference>Step_Instructions2</elementReference>
            </value>
        </inputAssignments>
        <object>SDO_Service_Planner_Steps__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Plan_Configuration</name>
        <label>Get Service Plan Configuration</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_First_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SDO_Service_Planner_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Additional_Step</name>
        <label>Create Additional Step</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_New_Step</targetReference>
        </connector>
        <fields>
            <name>Create_Additional_Step_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Additional_Step_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Step_Category2</name>
                    <choiceReferences>stepCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Step Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Additional_Step_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Order2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>orderCounter</elementReference>
                    </defaultValue>
                    <fieldText>Order</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Step_Instructions2</name>
            <fieldText>Step Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>customFooter</name>
            <extensionName>c:sdo_service_flowCustomFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelString</name>
                <value>
                    <stringValue>Create Another Step, Done</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonColourString</name>
                <value>
                    <stringValue>blue, blue</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_First_Step</name>
        <label>Create First Step</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_First_Step</targetReference>
        </connector>
        <fields>
            <name>Create_First_Step_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_First_Step_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Step_Category</name>
                    <choiceReferences>stepCategory</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Step Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_First_Step_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Order</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>1</stringValue>
                    </defaultValue>
                    <fieldText>Order</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Step_Instructions</name>
            <fieldText>Step Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>customFooterStart</name>
            <extensionName>c:sdo_service_flowCustomFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelString</name>
                <value>
                    <stringValue>Create Another Step, Done</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonColourString</name>
                <value>
                    <stringValue>blue, blue</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Plan_Complete</name>
        <label>Service Plan Complete</label>
        <locationX>336</locationX>
        <locationY>1232</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Congratulations! &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your Service Plan Steps were successfully created.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Click &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Finish&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &amp;amp; refresh the page and see a preview of your Service Plan.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Plan_Configuration</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>orderCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
